* {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-seri;

}
.Herocont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
#Hero {
    text-align: center;
    padding-bottom: 96px;
    padding-top: 96px;
}
.Herosub {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px;
    gap: 24px;
}
.init {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    width: 960px;
    height: 96px;
    gap: 12px;
}
.init >p {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.init >h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    color: #101828;
    letter-spacing: -0.02cm;
}
.learn >p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    width: 700px;
    height: 60px;
}
.btn >button {
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    width: 118px;
    height: 48px;
    border: none;
    border-radius: 8px;
}
.btn >button :hover {
    cursor: pointer;
    background: white;
    border: 1px solid, #7F56D9;
    color: #7F56D9;
}
.fillcont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}
.fill {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.fill >input {
    align-items: center;
    padding: 0px;
    padding: 8px 14px 8px 16px;
    width: 360px;
    height: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
}
.fill >p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.big {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-right:80px;
    padding-left: 80px;
}
.mini {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 96px;    
}
.down >h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}
#Content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 32px;
}
#subcards {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
#card2 {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap: 24px;
    align-items: center;
    width: 592px;
    height: 200px;
}
.cardp {
    padding-top: 12px;
    gap: 8px;
}
.cardp >h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 8px;
    color: #101828;
}
#title {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
}
#title >h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #101828;
}

.subbuttons {
    display: flex;
    gap: 8px;
    padding-top: 24px;
}

.subbuttons >p {
    background-color: aqua;
    border-radius: 16px;
    align-items: center;
    padding: 2px 10px;
    font-size: 14px;
    font-weight: 500;
}
.subimg {
    width: 320px;
    height: 200px;
}

.card1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0px;
    width: 592px;
    height: 432px;
    gap: 32px;
    gap: 24px;
    padding: 0px;
}
.card1 >img {
    width: 592px;
    height: 228px;
}

.para {
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
}
.author {
    color: #6941C6;
    font-weight: 500;
    font-size: 14px;
}
.card2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 384px;
    height: 444px;
    gap: 32px;
    gap: 24px;
    padding: 0px;
}
.card2 >img {
    width: 384px;
    height: 240px;
}